@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255,255,255;
  --background-rgb: 0, 0, 0;
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb))
}



.double-range-slider-container {
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 17%;
}

.double-range-slider-rail {
  background-color: #eeeeee;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  z-index: 0;
}

.double-range-slider-track {
  background-color: #c1c1c1;
  height: 3px;
  border-radius: 50px;
  position: absolute;
  top: 0px;
}

.double-range-slider-ball {
  background-color: #ffffff;
  border: #464545 1px solid;
  z-index: 2;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  /* top: (-5px * calc((25px - 5px) / 5px)); */
  top: -10px;
}

.double-range-slider-active {
  z-index: 4;
}

.double-range-slider-tooltip {
  background-color: #f3f4f6;
  visibility: hidden;
  display: flex;
  align-items: center;
  height: 20px;
  width: auto;
  color: #4b5563;
  text-align: center;
  border-radius: 6px;
  padding: 15px 20px;
  flex-wrap: nowrap;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: -45px;
}

/* Position the tooltip */

.double-range-slider-ball {
  .double-range-slider-tooltip {
    left: 50%;
    transform: translateX(-50%);
  }
}

.double-range-slider-over {
  bottom: calc(25px / 2) + 35px;
}
.double-range-slider-under {
  top: calc(25px / 2) + 35px;
}

.double-range-slider-mid {
  bottom: calc(25px / 2) + 25px;
}

.double-range-slider-over::after {
  border-color: #f3f4f6 transparent transparent transparent;
  top: 100%; /* At the bottom of the tooltip */
}
.double-range-slider-under::after {
  border-color: transparent transparent #c1c1c1 transparent;
  bottom: 100%; /* At the top of the tooltip */
}

.double-range-slider-tooltip::after {
  content: " ";
  position: absolute;
  margin-left: var(--after-margin-left, -10px);
  border-width: 10px;
  border-style: solid;
  pointer-events: none;
  left: var(--after-left, 50%);
}

.double-range-slider-text-holder {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  white-space: nowrap;
}

.double-range-slider-step {
  position: absolute;
  z-index: 1;
  height: 10px;
  width: 5px;
  border-radius: 30px;
  background-color: #f5f5f5;
}

